{{#> mainWrapper}}
<style>
	.main-container {
		margin-inline-start: var(--sidebar-width);
		padding: 38px;
	}

	.header {
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;
	}

	.glam-search {
		height: 34px;
		display: flex;
		flex-grow: 1;
		margin-inline-end: 2rem;
	}

	.glam-search input {
		background: none;
		border: none;
		height: inherit;
		width: 100%;
	}

	.glam-search button {
		height: inherit;
		display: flex;
		align-items: center;
		background: none;
		border: none;
	}

	.cover {
		display: flex;
		justify-content: flex-end;
	}

	.glams-boxes {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		row-gap: 20px;
		column-gap: 20px;
	}

	.glam-container {
		border-radius: 8px;
		position: relative;
		overflow: hidden;
		height: 217px;
	}

	.glam-container>img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.flag {
		position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 100%;
    display: flex;
    padding: 4px;
    background: rgba(0,0,0,0.3);
	}

	.flag>img {
		width: 20px;
		height: 20px;
	}

	.text-block {
		position: absolute;
		bottom: 0;
		left: 0;
		text-align: center;
		color: white;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column-reverse;
		transition: all 0.6s;
		opacity: 1;
		background: linear-gradient(180deg,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0) 50%,
				rgba(0, 0, 0, 0.5) 100%);
		padding: 0 1em;
	}

	.glam-link {
		color: inherit;
		text-decoration: none;
		font-size: 18px;
	}

	.glam-link::before {
		content: ' ';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

	.text-block>a>h4 {
		font-weight: 500;
		margin-bottom: 16px;
		text-align: left;
	}
	.paginator {
		display: flex;
		margin-bottom: 1rem;
		column-gap: 0.75rem;
    	align-items: center;
	}
	.paginator>a {
		display: flex;
		padding: 0 0.5rem;
		font-weight: bold;
		font-size: 1.5rem;
		cursor: pointer;
		align-items: center;
		justify-content: center;
	}
</style>
<div class="pusher">
	{{> sidebar}}
	<main class="main-container">
		<div class="header">
			<form class="glam-search" id="searchGlamForm">
				<button type="submit">
					<img src="/assets/icons/icons-search.svg" />
				</button>
				<input type="text" name="searchTerm" aria-label="{{langDict.searchInstitution}}"
					placeholder="{{langDict.searchInstitution}}">
			</form>
			{{> langSelect}}
		</div>
		<div class="paginator">
			<a id="paginatePrevious">
				&laquo;
			</a>
			<span id="pageText"></span>
			<a id="paginateNext">&raquo;</a>
		</div>
		<div class="glams-boxes" id="glamsContainer"></div>
	</main>
</div>
<script>
	const GLAMS_PER_PAGE = 20;

	const glams = {{ json glams }};
	let filteredGlams = glams;
	let page = 1;
	let numOfPages = Math.ceil(glams.length / GLAMS_PER_PAGE);

	const searchGlamForm = document.querySelector('#searchGlamForm');
	const searchInput = searchGlamForm.querySelector('input[name="searchTerm"]');
	const glamsContainer = document.querySelector('#glamsContainer');
	const pageText = document.querySelector("#pageText");
	const paginatePrevious = document.querySelector("#paginatePrevious")
	const paginateNext = document.querySelector("#paginateNext")

	function getPaginatedGlams() {
  		return filteredGlams.slice((page - 1) * GLAMS_PER_PAGE, page * GLAMS_PER_PAGE);
	}

	function updatePageText() {
		pageText.innerHTML = page + " out of " + numOfPages;
	}

	function paginate(amount) {
		page = Math.max(1, Math.min(numOfPages, page + amount));
		updatePageText();
		renderGlams();
	}

	function renderGlams() {
		const glamsHtml =  getPaginatedGlams().reduce((html, glam) => {
			html += `
				<div class="glam-container">
					<img src="${glam.image}">
					<div class="flag">
						<img src="/assets/icons/countries/${glam.country}.png" alt="${glam.country}" />
					</div>
					<div class="text-block">
						<a class="glam-link" href="/${glam.name}" alt="${glam.category}">
							<h4>${glam.fullname}</h4>
						</a>
					</div>
				</div>
			`;
			return html;
		}, '');
		if (glamsHtml) {
			glamsContainer.innerHTML = glamsHtml;
		} else {
			page = 0;
			glamsContainer.innerHTML = '<h1>0 {{langDict.results}}</h1>';
		}
	}

	function filterGlams() {
		const value = searchInput.value.toLowerCase();
		filteredGlams = glams.filter((glam) => glam.fullname.toLowerCase().includes(value));
		numOfPages = Math.ceil(filteredGlams.length / GLAMS_PER_PAGE);
		renderGlams();
	}

	searchGlamForm.addEventListener('submit', (e) => {
		e.preventDefault();
	})
	searchInput.addEventListener('keyup', () => {
		page = 1;
		filterGlams();
		updatePageText();
	});
	paginatePrevious.addEventListener('click', () => paginate(-1));
	paginateNext.addEventListener('click', () => paginate(1));
	renderGlams();
	updatePageText();

</script>
{{/mainWrapper}}